%h1 Buildings
- BuildingGeometry.all.each do |b_g|
  .div Building: #{Building.find_by_id(b_g.building_id).name}
  %svg{height: 250, width: 250}
    %polygon{points: "#{b_g.b_coordinates_array.flatten.join(',')}", style: "fill:brown; stroke:black; stroke-width:0.5"}
    - AuditoryGeometry.all.each do |a_g|
      - if Building.find_by_id(b_g.building_id) == Building.find_by_id(Auditory.find_by_id(a_g.auditory_id).building_id)
        %polygon{points: "#{a_g.a_coordinates_array.flatten.join(',')}", style: "fill:green; stroke:black; stroke-width:0.5"}
        - DeskGeometry.all.each do |d_g|
          - if Auditory.find_by_id(a_g.auditory_id) == Auditory.find_by_id(Desk.find_by_id(d_g.desk_id).auditory_id)
            %polygon{points: "#{d_g.d_coordinates_array.flatten.join(',')}", style: "fill:yellow;stroke:black; stroke-width:0.5"}
            - ComputerGeometry.all.each do |c_g|
              - if Desk.find_by_id(d_g.desk_id) == Desk.find_by_id(Computer.find_by_id(c_g.computer_id).desk_id)
                %polygon{points: "#{c_g.c_coordinates_array.flatten.join(',')}", style: "fill:black;stroke:black; stroke-width:0.5"}
